<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dyanna's Blog</title>
</head>
<body>
    <h1>Hello {{ user.get('username') }}!</h1>
    <h4>You are at the home page.</h4>
    <h6>Email: {{ user['email'] }}</h6>
    <h3>My favorite drinks:</h3>
    <ul>
        {% for drink in drinks %}
        <li> {{ drink }}</li>   
        {% endfor %}
    </ul>
</body>
</html>
